@charset "UTF-8";

@import '../../scss/Const';


.task-form{
    // SP Style
    position:relative;
    display: none;
    background-color: darken($columns_color, 5%);
    padding: 8px;

    // Table Style
    @include media(m){
        display: none;
    }

    // PC Style
    @include media(l){
        display: block;
        width: map-get($map: $tablet-width-map, $key:task-form );
    }
    @include media(ll){
        display: block;
        width: map-get($map: $pc-width-map, $key:task-form );
    }

    &__inner{
        @include media(l){
            position: fixed;
            width: map-get($map: $tablet-width-map, $key:task-form );
            height: 100%;
        }

        @include media(ll){
            position: fixed;
            width: map-get($map: $pc-width-map, $key:task-form );
            height: 100%;
        }
    }

}
