@charset "UTF-8";

@import "../../scss/Const.scss";

.side-nav {
  // SP Style
  position: relative;
  margin-right: map-get($map: $sp-width-map, $key: side-nav);

  @include media(m) {
    margin-right: map-get($map: $tablet-width-map, $key: side-nav);
  }

  @include media(l) {
    margin-right: map-get($map: $pc-width-map, $key: side-nav);
  }

  &__inner {
    position: fixed;
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 12px;
    padding: 8px;
    width: map-get($map: $sp-width-map, $key: side-nav);
    background-color: lighten($columns_color, 10%);

    .inner-wrap {
      width: 100%;
    }

    @include media(m) {
      width: map-get($map: $tablet-width-map, $key: side-nav);
    }

    @include media(l) {
      font-size: 16px;
      width: map-get($map: $pc-width-map, $key: side-nav);
    }
  }
}
