@charset "UTF-8";

@import '../_Const.scss';

.tweet-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    &__form{
        display: flex;
        flex-direction: column;

        & textarea{
            height: 80px;
            width: 100%;
            padding: 5px 10px;
            background-color: #fff;
            border-radius: 12px;
        }

        & button{
            height: 36px;
            width: 100%;
            background-color: darken($columns_color,30%);
            border-radius: 12px;
            color: white;
        }

    }

}