@charset "UTF-8";

@import "../../scss/Const.scss";

.right-nav {
  // SP Style
  position: relative;
  display: none;
  background-color: darken($columns_color, 5%);
  padding: 8px;

  // Table Style
  @include media(m) {
    display: none;
  }

  // PC Style
  @include media(l) {
    display: block;
    width: map-get($map: $tablet-width-map, $key: right-nav);
  }
  @include media(ll) {
    display: block;
    width: map-get($map: $pc-width-map, $key: right-nav);
  }

  &__inner {
    @include media(l) {
      position: fixed;
      width: map-get($map: $tablet-width-map, $key: right-nav);
      height: 100%;
    }

    @include media(ll) {
      position: fixed;
      width: map-get($map: $pc-width-map, $key: right-nav);
      height: 100%;
    }
  }
}
