@charset "UTF-8";

$main_color:lightblue;

$header_height:48px;
$footer_height:16px;

$max_width:1280px;
$pc_width:769px;
$tablet_width:481px;
$sp_width:480px;

$break-points: (
    l:"screen and (min-width:#{$pc_width})",
    m:"screen and (min-width:#{$tablet_width})",
    s:"screen and (min-width:#{$sp_width})",
);

@mixin media($break-point) {
    @media #{map-get($break-points, $break-point)}{
        @content
    }
}

$sp-width-map:(
    side-nav:14%,
    main:86%,
    right-nav:0,
);

$tablet-width-map:(
    side-nav:14%,
    main:86%,
    right-nav:0,
);

$pc-width-map:(
    side-nav:12%,
    main:63%,
    right-nav:25%,
);