@charset "UTF-8";

/**
https://9elements.com/bem-cheat-sheet/#navigation
*/

@import './venders/ress.css';
@import '_Const.scss';


* {
    box-sizing: border-box;
}

body{
    position:relative;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
    &__inner{
        position: relative;
        min-height: 100vh;
        width: 100%;
        max-width: $max_width;
        padding: $header_height 0 $footer_height 0;
        display:flex;
        flex-wrap: nowrap;
    }
    
}