@charset "UTF-8";

/**
https://9elements.com/bem-cheat-sheet/#navigation
*/

@import url(https://unpkg.com/ress/dist/ress.min.css);

* {
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    position:relative;
    height: 100%;
}

.content-wrapper{
    width: 100%;
    display: grid;
    place-content: center;
}
.content{
    position: relative;
    width: 100%;
    max-width: 1080px;
    height: 100vh;
    padding: 48px 0 0 0;
    display:flex;
    flex-wrap: wrap;
}
