@charset "UTF-8";

/**
https://9elements.com/bem-cheat-sheet/#navigation
*/

@import url(https://unpkg.com/ress/dist/ress.min.css);
@import '_Const.scss';


* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    position:relative;
    height: 100%;
    overflow-y: auto;

}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    
    &__inner{
        position: relative;
        width: 100%;
        max-width: $max_width;
        height: 100vh;
        padding: $header_height 0 $footer_height 0;
        display:flex;
        flex-wrap: wrap;
    }
    
}