@charset "UTF-8";

@import "_Const.scss";

.flush-message {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  bottom: calc(#{$footer_height} + 8px);
  right: 10px;
  width: 264px;
  min-height: 60px;
  font-size: 16px;
  padding: 6px 14px;
  background-color: #ececec;
  border-radius: 8px;
  box-shadow: 0 8px 3px -3px gainsboro;
}
.red {
  background-color: #ffaaaa;
}
.green {
  background-color: #c7ff90;
}
