@charset "UTF-8";

@import '_Const.scss';


/**
* SP Style
*/
.main{
    height: 100%;
    width:85%;
    background-color: beige;
}


/**
* Table Style
*/
@media screen and (min-width:$tablet_width){
    .main{
        width: 80%;
    }
}


/**
* PC Style
*/
@media screen and (min-width:$pc_width) { 
    .main{
        width: 55%;
    }
}
