@charset "UTF-8";

@import '_Const.scss';


.main{
    
    // SP Style
    height: 100%;
    width: map-get($map: $sp-width-map, $key:main );
    background-color: beige;

    // Table Style
    @include media(m){
        &{
            width: map-get($map: $tablet-width-map, $key:main );
        }
    }

    // PC Style
    @include media(l) { 
        &{
            width: map-get($map: $pc-width-map, $key:main );
        }
    }

}
