@charset "UTF-8";

@import '_Const.scss';


.right-nav{
    // SP Style
    display: none;

    // Table Style
    @include media(m){
        display: none;
    }

    // PC Style
    @include media(l){
        display: block;
        width: map-get($map: $pc-width-map, $key:right-nav );
        background-color: grey;
    }

    &__inner{
        @include media(l){
            position: fixed;
            width: map-get($map: $pc-width-map, $key:right-nav );
            height: 100%;
            background-color: grey;
        }
    }

}
