@charset "UTF-8";

.right-nav{
    height: 100%;
    width: 30%;
    background-color: aquamarine;
}

@media screen and (min-width:1280px){

}

@media screen and (min-width:1003px) and ( max-width:1279px){

}

@media screen and (min-width:1002px) { 

}