@charset "UTF-8";

@import '_Const.scss';


/**
* SP Style
*/
.right-nav{
    display: none;
}


/**
* Table Style
*/
@media screen and (min-width:$tablet_width){
    .right-nav{
        display: none;
    }
}


/**
* PC Style
*/
@media screen and (min-width:$pc_width) { 
    .right-nav{
        display: block;
        width: 25%;
        background-color: grey;

    }
}
