@charset "UTF-8";

@import '_Const.scss';


/**
* SP Style
*/
.side-nav{
    height: 100%;
    width: 15%;
    background-color: burlywood;
}


/**
* Table Style
*/
@media screen and (min-width:$tablet_width){
    .side-nav{
        width: 20%;
    }
}


/**
* PC Style
*/
@media screen and (min-width:$pc_width) { 
    .side-nav{
        width: 20%;
    }
}
