@charset "UTF-8";

@import '_Const.scss';


.side-nav{
    // SP Style
    height: 100%;
    width: map-get($map: $sp-width-map, $key:side-nav );
    background-color: burlywood;

    @include media(m){
        width: map-get($map: $tablet-width-map, $key:side-nav );
    }
    // PC Style
    @include media(l){ 
        width: map-get($map: $pc-width-map, $key:side-nav );
    }
    
}
